<!DOCTYPE html>
<html lang="ru">

  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="MobileOptimized" content="width">
    <link rel='stylesheet' href='/assets/app.css'>
    <script src='/assets/vendor.js' async></script>
    <script src='/assets/app.js' async></script>
    <script src='https://use.fontawesome.com/5cb9b1fb91.js' async></script>
  </head>

  <body>
    <div class="container-fluid" id="content">
      <div class="text-center post">
          <div class="is-overlay">
            <video autoplay="autoplay" loop="loop">
              <source src="/video/1.mp4" type="video/mp4">
              <source src="/video/1.webm" type="video/webm">
              <source src="/video/1.ogv" type="video/ogg">
              <object data="/video/1.swf" type="application/x-shockwave-flash">
                <param name="movie" value="video.swf">
              </object>
            </video>
          </div>
          <ul class="nav justify-content-end text-big">
            <li class="nav-item">
            </li>
              <a href="#" class="nav-link text-light">
                <span class="fa fa-envelope-o" aria-hidden="true">  nik.writter@ya.ru</span>
              </a>
            <li class="nav-item">
              <a href="#" class="nav-link text-light">
                <span class="fa fa-phone" aria-hidden="true">  +7 963-712-87-82</span>
              </a>
            </li>
          </ul>
          <div class="p-5"></div>
          <br>
          <h1 class="header-white text-light">Аудит безопастности сайта</h1> 
          <h4 class="text-info shadow-blue">Мы работаем, чтобы Вы спали спокойно</h4>
          <br>
          <button type="button" class="btn btn-lg btn-outline-info" data-toggle="modal" data-target="#orderModal" data-whatever="Не определён">Оставить заявку</button>
          <div class="p-5"></div>
          <a href="#" class="fa fa-arrow-down arrow down text-light" aria-hidden="true"></a>
          <div class="p-5"></div>
          <div class="row second-box bg-info"></div>
          <div class="row bg-light">
            <div class="container">
            <div class="p-4"></div>
            <h2 class="font-weight-bold post">Почему это так важно?</h2>
            <div class="p-3"></div>
            <div class="card-block card-deck post" id="down">
              <div class="card">
                <img src="/img/1.jpg" alt="Young hacker" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-titte">Хакер - это модно</h4> 
                  <p class="card-text">
                    С каждым днём всё больше возникает обучающий ресурсов для хакеров,
                    а благодаря новым технологиям и программам взламывать может даже новичок.
                    А СМИ раздувают у молодых людей интерес к данной области и быстрым деньгам,
                    это же так романтично - быть хакером!
                  </p>
                </div>
              </div>
              <div class="card">
                <img src="/img/2.jpg" alt="Bot-hacker" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Роботы пытаются Вас взломать</h4> 
                  <p class="card-text">
                    Профессиональные хакеры всё чаще программируют специальный роботов,
                    которые автоматически ходят по всему интернету и пытаются взломать
                    сайты по заданному алгоритму. Они не спят, им не скучно, они лишены лени.
                    Вы уверены, что прямо сейчас Вас не пытаются взломать 2-3 таких робота?
                  </p>
                </div>
              </div>
              <div class="card">
                <img src="/img/3.jpg" alt="Professional hacker" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Конкуренты хотят Вашего фиаско</h4>
                  <p class="card-text">
                    Что может быть проще, чем заплатить профессиональному хакеру деньги,
                    чтобы он взломал конкурента - Вас? Да, потом этих людей могут поймать,
                    но дело будет уже сделано, и Ваш сайт будет уничтожен. Вы уверены,
                    что у Вас нет врагов? Вы можете про них просто не знать.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-5"></div>
            <button type="button" class="btn btn-lg btn-success post" data-toggle="modal" data-target="#orderModal" data-whatever="Не определён">Проверить мой сайт</button>
          </div>
        </div>
        <div class="p-5 bg-light"></div>
      </div>

      <div class="row third-box text-center bg-info post">
        <div class="m-auto">
          <h2 class="font-weight-bold text-light post">График взломов за последние 4 года</h2>
        </div>
      </div>
      <div class="row bg-light">
        <div class="container">
          <div class="p-4"></div>
          <div class="row post">
            <div class="ct-chart col-xs-12 col-md-7 m-auto char-box post"></div>
            <div class="jumbotron jumbotron-fluid post text-center col-xs-12 col-md-5">
              <div class="container">
                <h1 class="display-4">По подсчётам Google,</h1>
                <p class="lead">количество зарегистрированных взломов(красная линия) 
                  и пострадавших сайтов (оранжевая линия) каждый год увеличивается от 30 до 40%.
                  По предварительным данным в 2017 году произошло более <b>1'397'980 взломов</b>, 
                  злоумышленникам становится всё проще это делать.</p>
              </div>
            </div>
          </div>
          <div class="p-5"></div>
          <div class="d-flex">
            <button type="button" class="btn btn-lg m-auto btn-danger post" data-toggle="modal" data-target="#orderModal" data-whatever="Не определён">Запросить аудит сайта</button>
          </div>
          <div class="p-5"></div>
        </div>
      </div>
      <div class="row bg-secondary post">
        <div class="container">
          <div class="p-4"></div>
          <div class="m-auto">
            <h2 class="font-weight-bold text-center text-light post">Какая у Вас зона риска?</h2>
          </div>
          <div class="p-4"></div>
          <div class="row post border border-white p-3">
            <div class="col-md-4 col-xs-12">
              <div class="list-group tab-pad" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action list-group-item-secondary active" id="list-home-list" data-toggle="list" href="#list-home" role="tab"
                  aria-controls="home">Самописный сайт</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
                  aria-controls="profile">Сайт на Wordpress, Joomla, Drupal</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab"
                  aria-controls="messages">Сайт на Bitrix, Umi</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
                  aria-controls="settings">Одностраничник</a>
              </div>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="tab-content text-light tab-pad" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Всё зависит от программиста,
                  который писал для Вас сайт (или от Вас, если писали Вы сами). Но программист - тоже человек, и, как правило, в таких
                  сайтах по невнимательности или незнанию программиста остаются страшные дыры, с помощью которых можно легко взломать сайт.
                  Вы находитесь в красной зоне риска.
                  <br>
                  <img src="/img/logo-php.jpg" class="min-logo" alt="php">
                  <img src="/img/logo-django.png" class="min-logo" alt="django">
                  <img src="/img/logo-net-framework.png" class="min-logo" alt="net">
                </div>
                <div class="tab-pane fade text-light" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                  Для Вас большй плюс, что компания, создавшая CMS для Вашего сайта, постоянно совершенствует свой продукт,
                  его безопасность. Однако Ваша CMS не несёт отвественности за разработчиков плагинов, которые Вы используете.
                  Очень часто в них находятся страшные уязвимости. Должны признаться, что сайты на Wordpress, Joomla и т.п. - 
                  самые лакомые для хакеров. Вы находитесь в красной зоне риска.
                  <br>
                  <img src="/img/logo-wordpress.png" class="min-logo" alt="wordpress">
                  <img src="/img/logo-joomla.png" class="min-logo" alt="joomla">
                  <img src="/img/drupal.png" class="min-logo" alt="drupal">
                </div>
                <div class="tab-pane fade text-light" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                  Можем Вас поздравить, Вашему сайту пресуще все те же опасности, что и для сайта на Wordpress за одним 
                  исключением - аудитория, которая может решить Вас взломать - гораздо меньше. На Ваш сайт сложнее найти
                  уже готовый рецепт по взлому. Однако это не означает, что стоит расслабляться. Бывает, и искать ничего 
                  не нужно, сделал пару кликов - и сайт взлома. Вы находитесь в оранжевой зоне риска.
                  <br>
                  <img src="/img/logo-1c-bitrix.png" class="min-logo" alt="bitrix">
                  <img src="/img/logo-umi-cms.png" class="min-logo" alt="umi">
                  </div>
                <div class="tab-pane fade text-light" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                  С большой долей вероятности Вы можете расслабится. Чаще всего у Вас просто нечего ломать - на одностраничниках
                  всё очень просто, не за что зацепиться. Разве что подобрать пароль к Вашей админке или серверу (если Вы его
                  используете). Рекомендуем Вам использовать пароль от 12 символов со спецсимволами, разным регистром и цифрами.
                  Вы находитесь в жёлтой зоне риска.
                  <br>
                  <img src="/img/lpg-big.png" class="min-logo" alt="lpg">
                  <img src="/img/logo-wix-com.png" class="min-logo" alt="wix">
                  <img src="/img/logo-ru-center.gif" class="min-logo" alt="ru-center">
                </div>
              </div>  
            </div>
          </div>
          <div class="p-5"></div>
          <div class="d-flex">
            <button type="button" class="btn btn-lg m-auto post btn-primary" data-toggle="modal" data-target="#orderModal" data-whatever="Не определён">Забыть про уязвимости!</button>
          </div>
          <div class="p-5"></div>
        </div>

      </div>
      <div class="row bg-light post">
        <div class="container">
          <div class="p-5"></div>
          <div class="m-auto text-center">
            <h2 class="font-weight-bold post">Мы готовы помочь Вам!</h2>
          </div>
          <div class="p-4"></div>
          <div class="card-group post">
              <div class="card border border-secondary mb-3">
                  <img class="card-img-top" src="/img/31.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Пакет базовый</h4>
                    <p class="card-text">
                      <ul>
                        <li>Полный аудит сайта и сервера</li>
                        <li>Подробный отчёт с рекомендациями</li>
                        <li>30 минут консультации</li>
                      </ul>
                    </p>
                  </div>
                   <button type="button" class="btn btn-lg btn-secondary" data-toggle="modal" data-target="#orderModal" data-whatever="Базовый">Выбрать</button>
                  <div class="card-footer">
                    <small class="text-muted">Подойдёт для простых сайтов</small>
                  </div>
            </div>
            <div class="card border border-danger center-card mb-3">
                <img class="card-img-top" src="/img/29.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Пакет оптимальный</h4>
                  <p class="card-text">
                    <li>Полный аудит сайта и сервера</li>
                    <li>Подробный отчёт с рекомендациями</li>
                    <li>Исправление уязвимостей специалистом*</li>
                    <li>60 минут консультации</li>
                  </p>
                </div>
                <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#orderModal" data-whatever="Оптимальный">Выбрать</button>
                <div class="card-footer">
                  <small class="text-danger">Наилучшее сочитание</small>
                </div>
            </div>
            <div class="card border border-secondary mb-3">
                <img class="card-img-top" src="/img/30.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">VIP-пакет</h4>
                  <p class="card-text">
                    <ul>
                      <li>Полный аудит сайта и сервера</li>
                      <li>Подробный отчёт с рекомендациями</li>
                      <li>Исправление уязвимостей специалистом*</li>
                      <li>Сопровождение безопастности сайта 2 недели</li>
                      <li>2 часа консультации</li>
                    </ul>
                  </p>
                </div>
                <button type="button" class="btn btn-lg btn-secondary" data-toggle="modal" data-target="#orderModal" data-whatever="VIP">Выбрать</button>
                <div class="card-footer">
                  <small class="text-muted">Для тех, кто ценит безопасность</small>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-5 bg-light"></div>
      <div class="row bg-info post">
        <div class="container">
        <div class="p-5"></div>
        <div class="m-auto text-center post">
          <h2 class="text-light">Остались вопросы? Напишите нам!</h2>
        </div>
        <div class="p-3"></div>
          <form id="formMessage" method="post">
            <div class="col-md-6 col-xs-12 m-auto post">
              <div class="form-group">
                <label class="sr-only" for="email">E-mail</label>
                <div class="input-group mb-2 mb-sm-0 border border-white">
                  <div class="input-group-addon">@</div>
                  <input type="text" class="form-control" id="email" placeholder="E-mail">
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only" for="numb">Контактный номер</label>
                <div class="input-group mb-2 mb-sm-0 border border-white">
                  <div class="input-group-addon"><span class="fa fa-phone" aria-hidden="true"></span></div>
                  <input type="text" class="form-control" id="numb" placeholder="Контактный номер">
                </div>
              </div>
            <div class="form-group">
              <label class="sr-only" for="Names">Ваше имя</label>
              <div class="input-group mb-2 mb-sm-0 border border-white">
                <div class="input-group-addon"><span class="fa fa-user" aria-hidden="true"></span></div>
                <input type="text" class="form-control" id="Names" placeholder="Ваше имя">
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="text-area" rows="3" placeholder="Начните начните писать Ваше сообщение..."></textarea>
            </div>
            <div class="d-flex">
              <input type="hidden" name="type" class="form-control" value="message">
              <button type="submit" class="btn btn-danger btn-lg m-auto btn-block">Отправить</button>
            </div>
            
          </form>


        <div class="p-5"></div>
        <div class="m-auto text-center">
          <p class="text-light">SeCenter, 2017</p>
          <a href='http://ru.freepik.com/free-vector/векторы_1063668.htm'><p class="text-primary">Pictures designed by Freepik</p></a>
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="scrollup">Наверх</a>

    <div class="modal fade top-modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="order" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="order">Новая заявка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="formOrder" method="post">
          <div class="modal-body">
              <div class="form-group">
                <label for="packet" class="form-control-label">Пакет:</label>
                <input type="text" class="form-control" id="packet">
              </div>
              <div class="form-group">
                <label for="name" class="form-control-label" required>Ваше имя:</label>
                <input type="text" class="form-control" id="name" placeholder="Ярослав Владимирович">
              </div>
              <div class="form-group">
                <label for="e-mail" class="form-control-label" required>E-mail:</label>
                <input type="text" class="form-control" id="e-mail" placeholder="example@mail.com">
              </div>
              <div class="form-group">
                <label for="number" class="form-control-label">Контактный номер:</label>
                <input type="text" class="form-control" id="number" placeholder="+7 999 999-99-99">
              </div>
              <div class="form-group">
                <label for="method" class="form-control-label">Предпочтительный метод связи:</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="method">
                  <option selected>Выберите...</option>
                  <option value="E-mail">E-mail</option>
                  <option value="Телефон">Телефон</option>
                  <option value="Whats App">Whats App</option>
                  <option value="Telegram">Telegram</option>
                </select>
              </div>
              <div class="form-group">
                <label for="packet" class="form-control-label">Сайт:</label>
                <input type="text" class="form-control" id="packet" placeholder="www.site.ru (не обязательно)">
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Описание:</label>
                <textarea class="form-control" id="message-text" placeholder="(не обязательно)"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="type" class="form-control" value="order">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
          </form>
        </div>
      </div>
    </div>


    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successHed" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="successHed">Спасибо!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Ваше сообщение было успешно отправлено! Мы очень скоро свяжемся с Вами!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="failHead" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="failHead">Возникла Ошибка.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Произошла ошибка при отправке. Закройте это окно и попробуйте ещё раз.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="reload" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
    
    
  </body>
      
</html>


       <!-- <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" style="width: 75%"></div>
        </div> -->